#{extends 'main.html' /}
#{set title:'Home' /}

<p>
<table class="table table-bordered table-striped responsive-utilities">
<thead>
<tr>
<th>&nbsp;</th>
<th>Level I</th>
<th>Level II</th>
<th>Level III</th>
</tr>
</thead>
<tbody>
  <tr>
    <th>History and motivation</th>
    <td class="is-visible">Should understand at a high level what the motivating factors were to create Java</td>
    <td class="is-visible">Appreciates the reasons that motivated the creation of Java</td>
    <td class="is-visible">&nbsp;</td>
  </tr>
  <tr>
    <th>Platform portability</th>
    <td class="is-visible">Understands at a high level what platform portability means</td>
    <td class="is-visible">Understands at a detailed level what platform portability means and how it is implemented</td>
    <td class="is-visible">Is aware of more issues of platform portability</td>
  </tr>
  <tr>
    <th>Overall Code structure</th>
    <td class="is-visible">Knows that all Java code must be in a file ending in the .java extension</td>
    <td class="is-visible">&nbsp;</td>
    <td class="is-visible">&nbsp;</td>
  </tr>
  <tr>
    <th>Primitives</th>
    <td class="is-visible">Knows the meaning of primitive data types in Java</td>
    <td class="is-visible">Understands why the creators of Java made primtive data types vs. making everything into an object</td>
    <td class="is-visible">Knows that a boolean may not necassarily take only 1 bit of storage on the heap</td>
  </tr>
</tbody>
</table>
</p>
