
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>#{get 'title' /}</title>
    <meta name="description" content="">
    <meta name="author" content="Parag">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.css'}">
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/bootstrap-alerts.js'}" type="text/javascript" charset="${_response_encoding}"></script>    
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">DIYComputerScience Competencies</a>
          <ul class="nav">
            <li class="active"><a href="@{Application.index()}">Home</a></li>
            <li><a href="#about">How It Works</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="row">
          <div class="span16">
            #{doLayout /}
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; DIYComputerScience.com 2012</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
